.button {
  background-color: rgb(247, 173, 104);
  font-weight: bold;
  font-size: 1rem;
  color: rgb(22, 53, 88);
  border-radius: 0.3rem;
  border: none;
  height: 2rem;
  width: 4rem;
  margin-left: 3em;
  letter-spacing: 0.02rem;
  cursor: pointer;
}
