.Artist {
  width: 100%;
  padding: 1rem;
  
  th {
    color: rgb(160, 231, 243);
    background-color: rgb(22, 53, 88);
    border-radius: 50% 20% / 10% 40%;
    text-align: center;
    width: 3rem;
    height: 1.5rem;
    padding: 1rem 1rem;
  }

  td {
    color: rgb(22, 53, 88);
    text-align: center;
    width: 3rem;
    height: 1.5rem;
    padding: 1rem 1rem;
  } 
}