.Home {
  position: fixed;
  width: 43%;
  min-width: 28rem;
  height: 53%;
  
  bottom: 20vh;
  right: 30vw;
  vertical-align: middle;
  text-align: center;
  padding: 3.5rem 3rem;
  border-radius: 50% 20% / 10% 40%;
  
  font-size: 2rem;
  font-weight: bolder;
  
  background-color: rgb(160, 231, 243);
  color: rgb(22, 53, 88);
}
